
.about {
  padding: 40px 0;

  @media (min-width: $tablet) {
    padding: 60px 0 120px;
  }

  @media (min-width: $desktop) {
    padding: 120px 0 240px;
  }
}

.about__general-wrapper {
  @media (min-width: $desktop) {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    gap: 145px;
  }
}

.about__text-wrapper {
  @media (min-width: $desktop) {
    width: 355px;
    margin: 0;
  }
}

.about__title {
  font-family: $alumni;
  font-size: $font-size-32;
  line-height: 32px;
  font-weight: 600;
  color: $color-basis;
  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    text-align: center;
    font-size: $font-size-42;
    line-height: 42px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop) {
    font-size: $font-size-54;
    line-height: 54px;
    margin-bottom: 25px;
    text-align: left;
  }
}

.about__title-small {
  font-family: $roboto;
  font-size: $font-size-18;
  line-height: 20px;
  font-weight: 400;
  color: $color-basis;
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    text-align: center;
    font-size: $font-size-20;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop) {
    font-size: $font-size-22;
    line-height: 22px;
    margin-bottom: 95px;
    text-align: left;
  }
}

.about__text {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 22px;
  font-weight: 300;
  color: $color-basis;
  margin-top: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    text-align: center;
    font-size: $font-size-16;
    line-height: 24px;
    width: 500px;
    margin: 0 auto 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    width: auto;
    text-align: left;
  }
}

.about__addition-text {
  display: none;

  @media (min-width: $desktop) {
    margin-top: 7px;
    display: block;
  }
}

.about__image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 36px;
  object-fit: cover;
  background-color: #e8e8e8;

  @media (min-width: $tablet) {
    width: 678px;
    height: 345px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    width: 660px;
    height: 400px;
  }
}

.about__content-wrapper {
  @media (min-width: $tablet) {
    width: 678px;
    margin: 0 auto;
  }

  @media (min-width: $desktop) {
    width: 660px;
    margin: 0;
  }
}

.about__video-wrapper {
  position: relative;

  //   @media (min-width: $tablet) {
  //     position: absolute;
  //     left: 50%;
  //     bottom: 0;
  //     transform: translateX(-50%) translateY(50%);
  //     z-index: 10;
  //   }


  //   @media (min-width: $desktop) {
  //     left: 1px;
  //     transform: translateX(-28%) translateY(50%);
  //   }
}
