.accordion__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.accordion__item {
  padding: 20px 0;
  border-top: 1px solid #74819c;

  &:last-child {
    border-bottom: 1px solid #74819c;
  }

  @media (min-width: $tablet) {
    padding: 23px 0;
  }

  @media (min-width: $desktop) {
    padding: 22px 0 23px;
  }
}

.accordion__control {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__control h3 {
  font-family: $roboto;
  font-size: $font-size-20;
  line-height: 20px;
  font-weight: 400;
  color: $color-basis;
  width: 238px;
  margin: 0;

  @media (min-width: $tablet) {
    width: 500px;
    font-size: $font-size-22;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    width: auto;
    font-size: $font-size-24;
    line-height: 24px;
  }
}

.accordion__title br {
  @media (min-width: $desktop) {
    display: none;
  }
}

.accordion__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1c3374;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  padding: 0;
  cursor: pointer;


  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    background-color: #1c3374;
    transition: all 0.3s ease;
  }

  &::after {
    rotate: 90deg;
  }

  &:hover {
    background-color: #1c3374;
    border: none;
  }

  &:focus,
  &:focus-visible {
    background-color: #74819c;
    outline: none;
  }

  &:hover::before,
  &:hover::after {
    background-color: $color-additional;
    z-index: 1;
  }

  &:focus::before,
  &:focus::after,
  &:focus-visible::before,
  &:focus-visible::after {
    background-color: $color-additional;
    z-index: 1;
  }

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;

    &::before,
    &::after {
      width: 20px;
    }
  }
}

.open .accordion__button {
  background-color: #1c3374;
  border: none;
}


.open .accordion__button::after {
  rotate: 0deg;
  background-color: #ffffff;
  z-index: 1;
}

.accordion__content {
  font-family: $roboto;
  font-size: $font-size-16;
  line-height: 20px;
  font-weight: 300;
  color: $color-basis;
  width: 238px;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
  max-height: 0;
  will-change: max-height;

  @media (min-width: $tablet) {
    width: 559px;
    font-size: $font-size-18;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    width: 660px;
  }
}

.accordion__content p {
  margin: 0;
}

.open .accordion__content {
  opacity: 1;
  padding: 20px 0 0;

  @media (min-width: $tablet) {
    padding: 10px 0 0;
  }

  @media (min-width: $desktop) {
    padding: 22px 0 0;
  }
}
