.content__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet) {
    gap: 40px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.content__item {
  background-color: $color-additional;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 18px;
  padding: 50px 42px;
  box-sizing: border-box;
  position: relative;

  @media (min-width: $tablet) {
    width: 380px;
    margin: 0 auto;
    padding: 65px;
    gap: 22px;
  }

  @media (min-width: $desktop) {
    width: 360px;
    gap: 17px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 7px solid transparent;
    border-image: linear-gradient(135deg, #ed0233, #003fb7) 1;
    border-image-slice: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::before,
  &:focus::before,
  &:focus-visible::before {
    opacity: 1;
    outline: none;
  }

  &:hover .content__link,
  &:focus .content__link,
  &:focus-visible .content__link {
    border: none;
    background-image: linear-gradient(135deg, #ed0233, #003fb7);
    color: $color-additional;
  }
}


.content__title {
  font-family: $roboto;
  font-size: $font-size-22;
  line-height: 22px;
  font-weight: 700;
  color: $color-basis;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: $font-size-24;
    line-height: 24px;
  }

  @media (min-width: $tablet) {
    font-size: $font-size-26;
    line-height: 26px;
  }
}

.content__text {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 22px;
  font-weight: 300;
  color: $color-basis;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: $font-size-16;
    line-height: 24px;
  }
}

.content__price {
  font-family: $roboto;
  font-size: $font-size-48;
  line-height: 72px;
  font-weight: 700;
  color: $color-accent;
  margin: 0;
  display: inline-block;
  position: relative;
  padding-top: 48px;
  padding-left: 37px;

  &::before {
    content: attr(data-price);
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    line-height: 120px;
    color: #e8e8e8;
    vertical-align: top;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("/__spritemap#sprite-ruble-view");
    top: 67px;
    margin-left: 10px;
    z-index: 2;
    background-repeat: no-repeat;
    width: 24px;
    height: 33px;
  }

  @media (min-width: $tablet) {
    padding-top: 60px;
    padding-left: 42px;
    font-size: $font-size-60;
    line-height: 90px;

    &::before {
      content: attr(data-price);
      font-size: 100px;
      line-height: 150px;
    }

    &::after {
      background-size: 30px 42px;
      top: 84px;
      margin-left: 14px;
      width: 30px;
      height: 42px;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 32px;
  }
}

.content__link {
  font-family: $roboto;
  font-size: $font-size-12;
  line-height: 12px;
  font-weight: 700;
  color: $color-basis;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid $color-basis;
  box-sizing: border-box;
  width: auto;
  text-align: center;
  min-height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  &:hover,
  &:focus,
  &:focus-visible,
  &:active {
    background-image: linear-gradient(115deg, rgba(237, 2, 51, 1) 17%, rgba(118, 32, 117, 1) 54%, rgba(0, 62, 183, 1) 100%);
    color: $color-additional;
  }


  &:hover {
    border: none;
  }

  &:focus,
  &:focus-visible {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 80%;
    border-color: #000000;
    outline: none;
  }

  &:active {
    border: none;
    color: rgba(255, 255, 255, 0.7);
  }

  &[disabled] {
    border-color: $color-basis;
    color: $color-basis;
    opacity: 30%;
    cursor: not-allowed;
  }

  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    border-color: $color-basis;
    color: $color-basis;
    opacity: 30%;
  }
}
