.content__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet) {
    gap: 40px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.content__item {
  background-color: $color-additional;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 18px;
  padding: 50px 42px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 380px;
    margin: 0 auto;
    padding: 65px;
    gap: 22px;
  }

  @media (min-width: $desktop) {
    width: 360px;
    gap: 17px;
  }
}

.content__title {
  font-family: $roboto;
  font-size: $font-size-22;
  line-height: 22px;
  font-weight: 700;
  color: $color-basis;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: $font-size-24;
    line-height: 24px;
  }

  @media (min-width: $tablet) {
    font-size: $font-size-26;
    line-height: 26px;
  }
}

.content__text {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 22px;
  font-weight: 300;
  color: $color-basis;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: $font-size-16;
    line-height: 24px;
  }
}

.content__price {
  font-family: $roboto;
  font-size: $font-size-48;
  line-height: 72px;
  font-weight: 700;
  color: $color-accent;
  margin: 0;
  display: inline-block;
  position: relative;
  padding-top: 48px;
  z-index: 1;
  padding-left: 37px;

  &::before {
    content: attr(data-price);
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    line-height: 120px;
    color: #e8e8e8;
    vertical-align: top;
    z-index: -1;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/sprite/ruble.svg");
    top: 67px;
    margin-left: 10px;
    z-index: 2;
    background-repeat: no-repeat;
    width: 24px;
    height: 33px;
  }

  @media (min-width: $tablet) {
    padding-top: 60px;
    padding-left: 42px;
    font-size: $font-size-60;
    line-height: 90px;

    &::before {
      content: attr(data-price);
      font-size: 100px;
      line-height: 150px;
    }

    &::after {
      background-size: 30px 42px;
      top: 84px;
      margin-left: 14px;
      width: 30px;
      height: 42px;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 32px;
  }
}

.content__link {
  font-family: $roboto;
  font-size: $font-size-12;
  line-height: 12px;
  font-weight: 700;
  color: $color-basis;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  padding: 25px;
  border: 2px solid $color-basis;
  box-sizing: border-box;
  width: auto;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 27px;
  }
}
