.contacts__wrapper {
  width: 290px;
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: $tablet) {
    width: 440px;
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    width: 477px;
    padding: 60px 0 71px;
    margin: 0 auto 0 103px;
  }
}

.contacts__title {
  font-family: $alumni;
  font-size: $font-size-32;
  line-height: 32px;
  font-weight: 600;
  color: $color-basis;
  margin: 0 0 42px;
  text-align: left;

  @media (min-width: $tablet) {
    font-size: $font-size-54;
    line-height: 54px;
    margin: 0 0 36px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  row-gap: 28px;
  position: relative;

  @media (min-width: $tablet) {
    row-gap: 15px;
    column-gap: 60px;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      outline: 1px solid #74819c;
      height: 100%;
      left: 220px;
      top: 0;
    }
  }

  @media (min-width: $desktop) {
    column-gap: 120px;

    &::after {
      left: 238px;
    }
  }
}

.contacts__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet) {
    gap: 5px;
  }
}

.contacts__subtitle {
  font-family: $roboto;
  font-size: $font-size-20;
  line-height: 20px;
  font-weight: 400;
  color: $color-basis;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet) {
    font-size: $font-size-24;
    line-height: 24px;
  }
}

.contacts__text {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 20px;
  font-weight: 400;
  color: $color-basis;
  margin: 0;
  padding: 0;
  text-align: left;
  font-style: normal;
  text-decoration: none;

  @media (min-width: $tablet) {
    line-height: 22px;
  }
}

.contacts__item--adress {
  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.contacts__item--work {
  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.contacts__item--phone {
  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.contacts__item--mail {
  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}
