.faq-tab__list {
  list-style-type: none;
  margin: 0 0 35px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: $tablet) {
    margin: 0 0 45px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    flex-direction: column;
  }
}

.faq-tab__button {
  font-family: $roboto;
  font-size: $font-size-16;
  line-height: 16px;
  font-weight: 400;
  color: $color-basis;
  text-align: center;
  width: 140px;
  height: 46px;
  box-sizing: border-box;
  padding: 14px;
  border: 1px solid rgba(16, 38, 84, 0.2);
  background-color: transparent;

  @media (min-width: $tablet) {
    width: 162px;
    height: 54px;
    padding: 18px;
    font-size: $font-size-18;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    width: 260px;
    padding: 20px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    border-color: $color-basis;
    outline: none;
  }

  &:focus,
  &:focus-visible {
    background-color: $color-additional;
  }

  &:disabled {
    color: #c8c9cc;
    background: transparent;
    border: 1px solid rgba(16, 38, 84, 0.2);
  }
}

.faq-tab__button--active {
  color: $color-additional;
  background: linear-gradient(115deg, rgba(237, 2, 51, 1) 17%, rgba(118, 32, 117, 1) 54%, rgba(0, 62, 183, 1) 100%);
  border: none;
}

.faq-tab__content {
  display: none;

  @media (min-width: $desktop) {
    width: 860px;
  }
}

.faq-tab__content--active {
  display: block;
}
