.form-request {
  padding: 70px 0;
  background-color: $color-basis;

  @media (min-width: $tablet) {
    padding: 60px 0 59px;
  }
}

.form-request__wrapper {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 440px;
  }

  @media (min-width: $desktop) {
    width: 477px;
    margin: 0 103px 0 auto;
  }
}

.form-request__title {
  font-family: $alumni;
  font-size: $font-size-32;
  line-height: 32px;
  font-weight: 600;
  color: $color-additional;
  margin: 0 0 36px;
  text-align: left;

  @media (min-width: $tablet) {
    font-size: $font-size-54;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.form-request__filter {
  display: grid;
  row-gap: 37px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

.form-request__input {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 22px;
  font-weight: 400;
  border: none;
  width: 100%;
  height: 26px;
  background-color: transparent;
  color: $color-additional;
  position: relative;
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  outline: none;

  &:hover {
    border-color: $color-additional;
  }

  &:not(:disabled):focus,
  &:not(:disabled):focus-visible {
    border-bottom: none;
    border: 1px solid $color-additional;
    outline: none;
  }

  &:disabled {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.4);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.form-request__input:not(:disabled):focus::placeholder {
  color: transparent;
}

.form-request__input::placeholder {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 22px;
  font-weight: 300;
  color: $color-additional;
  opacity: 40%;
  padding: 0;
}

.form-request__form-group.invalid .form-request__input {
  border-bottom-color: #ff121f;
}

.error-message {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 22px;
  font-weight: 400;
  color: #ff121f;
  position: absolute;
  margin-top: 2px;
}

.form-request__input-submit {
  width: 100%;
  min-height: 60px;
  border: 2px solid $color-additional;
  background-color: transparent;
  padding: 22px;
  box-sizing: border-box;
  font-family: $roboto;
  font-size: $font-size-12;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-additional;
  cursor: pointer;

  @media (min-width: $tablet) {
    grid-column: 1 / 3;
    padding: 25px;
  }
}
