.juri {
  padding: 41px 0 40px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 30px 0 60px;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
  }
}

.juri__title {
  font-family: $alumni;
  font-size: $font-size-32;
  line-height: 32px;
  font-weight: 600;
  color: $color-basis;
  margin: 0 0 19px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: $font-size-54;
    line-height: 54px;
    margin: 0 0 46px;
  }
}

.juri__buttons {
  position: relative;
}

// .juri__slider-button {
//   border-radius: 50%;
//   background-color: transparent;
//   border: 1px solid transparent;
// }

// .juri__buttons .swiper-button-prev {
//   display: none;

//   @media (min-width: $tablet) {
//     display: block;
//     width: 50px;
//     height: 50px;
//     top: 140px;
//     left: 0;
//   }

//   @media (min-width: $desktop) {
//     left: -35px;
//   }
// }

// .juri__buttons .swiper-button-next {
//   display: none;

//   @media (min-width: $tablet) {
//     display: block;
//     width: 50px;
//     height: 50px;
//     top: 140px;
//     right: 0;
//   }

//   @media (min-width: $desktop) {
//     right: -35px;
//   }
// }

// .juri__buttons .swiper-button-prev::after {
//   content: "";
//   position: absolute;
//   display: block;
//   width: 20px;
//   height: 34px;
//   mask: url("/__spritemap#sprite-arrow-view");
//   background-color: $color-basis;
//   mask-repeat: no-repeat;
//   transform: rotate(180deg);
//   top: 12px;
//   left: 7px;
// }

// .juri__buttons .swiper-button-next::after {
//   content: "";
//   position: absolute;
//   display: block;
//   width: 20px;
//   height: 34px;
//   mask: url("/__spritemap#sprite-arrow-view");
//   background-color: $color-basis;
//   mask-repeat: no-repeat;
//   top: 7px;
//   left: 17px;
// }

.juri__slider-button.swiper-button-prev,
.juri__slider-button.swiper-button-next {
  position: absolute;
  width: 50px;
  height: 50px;
  border: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  z-index: 10;
  box-sizing: border-box;
  background-color: transparent;
  display: none;
  align-self: center;


  /* Стили для иконки */
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 32px;
    mask: url("/__spritemap#sprite-arrow-view");
    background-color: $color-basis;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
  }

  /* Стили для бордера */
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    box-sizing: border-box;
    z-index: 0;
    pointer-events: none;
    transition: border-color 0.2s ease-in-out;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled::before {
    background-color: rgba(16, 38, 84, 0.3);
  }

  &:disabled::after {
    border-color: transparent;
  }

  @media (min-width: $tablet) {
    display: flex;

    &:not(:disabled):hover::after,
    &:not(:disabled):focus::after,
    &:not(:disabled):focus-visible::after,
    &:not(:disabled):active::after {
      border-color: $color-basis;
    }
  }
}

.juri__slider-button:not(:disabled):focus,
.juri__slider-button:not(:disabled):focus-visible {
  outline: none;
  background-color: #e8e8e8;
}

.juri__slider-button--prev.swiper-button-prev {
  transform: rotate(-180deg);

  @media (min-width: $tablet) {
    top: 148px;
    left: -12px;
  }

  @media (min-width: $desktop) {
    top: 146px;
    left: -69px;
  }
}

.juri__slider-button--next.swiper-button-next {
  transform: rotate(0deg);

  @media (min-width: $tablet) {
    top: 148px;
    right: -12px;
  }

  @media (min-width: $desktop) {
    top: 146px;
    right: -71px;
  }
}

.juri__slider-button--prev:not(:disabled):active,
.juri__slider-button--next:not(:disabled):active {
  background-color: $color-basis;
}

.juri__slider-button--prev:not(:disabled):active::before,
.juri__slider-button--next:not(:disabled):active::before {
  background-color: $color-additional;
}


.juri__swiper {
  position: relative;
  width: 260px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 560px;
  }

  @media (min-width: $desktop) {
    width: 1160px;
  }
}


.juri__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    width: 560px;
    display: flex;
  }

  @media (min-width: $desktop) {
    width: 1160px;
  }
}

.juri__item {
  position: relative;
  display: flex;
  justify-content: center;

  &:focus-visible {
    outline: none;
  }

  &:hover .info {
    @media (min-width: $desktop) {
      display: block;
    }
  }

  &:focus .info,
  &:focus-visible .info {
    display: block;
  }
}

// .juri__item.juri__item--focused .info {
//   display: block;
// }

.juri__image {
  display: block;
}

.juri__name {
  font-family: $roboto;
  font-size: $font-size-22;
  line-height: 22px;
  font-weight: 400;
  color: $color-additional;
  margin: 0;
  position: absolute;
  bottom: 24px;
  text-align: center;
  width: 100%;
}

.juri__item:focus .juri__name,
.juri__item:focus-visible .juri__name {
  display: none;
}

.juri__item:hover .juri__name {
  @media (min-width: $desktop) {
    display: none;
  }
}
