.navigation__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 35px;

  @media (min-width: $tablet) {
    gap: 30px;
  }

  @media (min-width: $desktop) {
    gap: 82px;
  }
}

.navigation__link {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 20px;
  font-weight: 400;
  color: $color-additional;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    border: 1px solid transparent;
    pointer-events: none;
  }

  @media (min-width: $tablet) {
    line-height: 22px;
  }

  &:hover:not(:focus),
  &:hover:not(:focus-visible) {
    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid $color-additional;
      top: 27px;
      width: 100%;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus::after,
  &:focus-visible::after {
    border-color: $color-additional;
  }
}
