.offers {
  padding: 40px 0;


  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
  }
}

.offers__title {
  font-family: $alumni;
  font-size: $font-size-32;
  line-height: 32px;
  font-weight: 600;
  color: $color-basis;
  margin: 0 auto 40px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: $font-size-42;
    line-height: 42px;
    margin: 0 auto 35px;
  }

  @media (min-width: $desktop) {
    font-size: $font-size-54;
    line-height: 54px;
    margin: 0 auto 70px;
  }
}

.offers__wrapper {
  @media (min-width: $desktop) {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
}

.offers__poster-wrapper {
  @media (min-width: $tablet) {
    width: 678px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    width: 560px;
    margin: 0;
  }
}

.offers__poster-text {
  background-color: #ed0233;
  width: 100%;
  padding: 30px 30px 36px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    width: 278px;
    padding: 40px 25px;
    align-items: flex-start;
    text-align: left;
  }

  @media (min-width: $desktop) {
    width: 280px;
    padding: 40px 45px 46px;
  }
}

// .offers__poster-text > * {
//   flex-shrink: 0;
//   width: auto;
//   max-width: 260px;
// }

.offers__poster-text p:nth-of-type(1) {
  font-family: $roboto;
  font-size: $font-size-22;
  line-height: 22px;
  font-weight: 700;
  color: $color-additional;
  margin: 0 0 9px;

  @media (min-width: $tablet) {
    font-size: $font-size-24;
    line-height: 24px;
    margin: 0 0 20px;
  }

  @media (min-width: $desktop) {
    font-size: $font-size-26;
    line-height: 26px;
  }
}

.offers__poster-text span {
  font-family: $roboto;
  font-size: $font-size-64;
  line-height: 64px;
  font-weight: 700;
  color: $color-additional;
  margin: 0 0 28px;
  display: block;

  @media (min-width: $tablet) {
    font-size: $font-size-70;
    line-height: 70px;
    margin: 0 0 40px;
  }
}

.offers__poster-text p:nth-of-type(2) {
  font-family: $roboto;
  font-size: $font-size-16;
  line-height: 20px;
  font-weight: 300;
  color: $color-additional;
  margin: 0 0 28px;

  @media (min-width: $tablet) {
    font-size: $font-size-18;
    line-height: 24px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.offers__link {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 14px;
  font-weight: 700;
  color: $color-additional;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin-top: auto;

  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-additional;
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border: 1px solid transparent;
    box-sizing: border-box;
  }

  @media (min-width: $tablet) {
    padding-bottom: 5px;

    &::after {
      bottom: 0;
    }

    &::before {
      height: calc(100% + 15px);
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 0;

    &::after {
      bottom: -6px;
    }

    &::before {
      height: calc(100% + 20px);
    }
  }

  &:hover,
  &:hover::after {
    opacity: 0.8;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }


  &:focus::after,
  &:focus-visible::after {
    display: none;
  }

  &:focus::before,
  &:focus-visible::before {
    border-color: $color-additional;
  }

  &:hover:focus::before,
  &:hover:focus-visible::before {
    border: none;
  }

  &:hover:focus::after,
  &:hover:focus-visible::after {
    display: block;
  }

  &:active,
  &:active::after {
    opacity: 1;
    display: block;
  }

  &:active::before {
    display: none;
  }

  // &:active:focus::before,
  // &:active:focus-visible::before {
  //   opacity: 1;
  //   display: block;
  // }

  // &:focus:active::before,
  // &:focus-visible:active::before {
  //   display: none;
  //   border: none;
  // }
}

.offers__image {
  width: 100%;
}

.offers__list {
  padding: 0;
  list-style-type: none;
  margin: 40px auto 0;
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet) {
    width: 678px;
    margin: 35px auto 0;
    flex-direction: row;
  }

  @media (min-width: $desktop) {
    width: 560px;
    margin: 82px 0 0;
    flex-direction: column;
  }
}

.offers__item {
  width: 290px;
  padding: 20px 20px 25px;
  box-sizing: border-box;
  border: 7px solid;
  border-image: linear-gradient(160deg, #d10a42 0%, #692070 50%, #00359f 100%);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet) {
    width: 324px;
    padding: 20px 20px 26px;
    align-items: flex-start;
    text-align: left;
  }

  @media (min-width: $desktop) {
    width: 560px;
  }
}

.offers__item h3 {
  font-family: $roboto;
  font-size: $font-size-22;
  line-height: 22px;
  font-weight: 700;
  color: #1c3374;
  margin: 0 0 21px;

  @media (min-width: $tablet) {
    font-size: $font-size-26;
    line-height: 26px;
    margin-bottom: 10px;
  }
}

.offers__item p {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 22px;
  font-weight: 300;
  color: #1c3374;
  margin: 0 0 20px;

  @media (min-width: $tablet) {
    font-size: $font-size-16;
    line-height: 24px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
  }
}

.offers__card-text br {
  display: block;

  @media (min-width: $desktop) {
    display: none;
  }
}

.offers__card-link {
  margin-top: auto;
  color: #1c3374;
  padding-bottom: 0;


  &::after {
    background-color: #74819c;
    bottom: -5px;
  }

  &::before {
    height: calc(100% + 19px);
  }

  @media (min-width: $tablet) {
    &::after {
      bottom: -6px;
    }
  }

  &:hover::after {
    background-color: #1c3374;
  }

  &:focus::before,
  &:focus-visible::before {
    border-color: #1c3374;
  }
}
