.promo {
  background-image: linear-gradient(to right, #1c3477 39%, #1a3578 39%, #73184b 76%, #b4022a 100%);
  background-size: cover; /* Или contain */
  background-position: center;
  padding-bottom: 32px;
}

.promo__nav {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    padding: 30px 0;
  }
}

.promo__contact-phone {
  font-family: $roboto;
  font-size: $font-size-22;
  line-height: 22px;
  font-weight: 700;
  color: $color-additional;
  margin: 0;
  padding: 0;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: $font-size-24;
    line-height: 24px;
  }
}

.promo__big-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    gap: 56px;
    margin-left: 147px;
  }
}

.promo__container {
  display: grid;
  grid-template-columns: auto 156px;
  grid-template-rows: auto auto 48px auto;

  @media (min-width: $tablet) {
    grid-template-columns: 139px 185px;
    grid-template-rows: auto auto 50px auto;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 115px 270px;
    grid-template-rows: auto auto 40px auto;
  }
}

.promo__title-small {
  font-family: $alumni;
  font-size: $font-size-32;
  line-height: 32px;
  font-weight: 600;
  color: $color-additional;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: right;

  @media (min-width: $tablet) {
    font-size: $font-size-42;
    line-height: 42px;
  }

  @media (min-width: $desktop) {
    font-size: $font-size-54;
    line-height: 54px;
  }
}

.promo__title {
  font-family: $alumni;
  font-size: $font-size-62;
  line-height: 62px;
  font-weight: 800;
  color: $color-additional;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: right;

  @media (min-width: $tablet) {
    margin-top: 10px;
    font-size: $font-size-72;
    line-height: 85px;
  }

  @media (min-width: $desktop) {
    margin-top: 40px;
    font-size: $font-size-92;
    line-height: 110px;
  }
}

.promo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: left;
  align-self: end;

  @media (min-width: $tablet) {
    grid-row: 1 / 5;
    align-self: center;
  }
}

.promo__text {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 20px;
  font-weight: 400;
  color: $color-additional;
  margin: 0;
  text-align: right;

  @media (min-width: $tablet) {
    line-height: 22px;
  }
}

.promo__link {
  display: block;
  padding: 22px;
  box-sizing: border-box;
  border: 2px solid $color-additional;
  cursor: pointer;
  height: 60px;
  text-decoration: none;
  grid-column: 1 / 3;
  grid-row: 4 / 5;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
  }
}

.promo__text-link {
  display: block;
  text-align: center;
  font-family: $roboto;
  font-size: $font-size-12;
  line-height: 12px;
  font-weight: 700;
  color: $color-additional;
  text-transform: uppercase;
  margin: 0;
}

.promo__hero-image {
  @media (max-width: $mobile) {
    display: none;
  }
}
