.promo {
  background-image: linear-gradient(to right, #1c3477 39%, #1a3578 39%, #73184b 76%, #b4022a 100%);
  background-size: cover; /* Или contain */
  background-position: center;
  padding-bottom: 32px;

  @media (min-width: $tablet) {
    padding-bottom: 99px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 119px;
  }
}

.promo__nav {
  padding: 16px 0 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;

  @media (min-width: $tablet) {
    padding: 30px 0 31px;
    margin-bottom: 0;
  }
}

.promo__contact-phone {
  font-family: $roboto;
  font-size: $font-size-22;
  line-height: 22px;
  font-weight: 700;
  color: $color-additional;
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border: 1px solid $color-basis;
    bottom: -5px;
    display: none;
  }

  @media (min-width: $tablet) {
    font-size: $font-size-24;
    line-height: 24px;
  }

  &:hover {
    color: rgba(28, 51, 116, 0.5);
  }

  &:focus,
  &:focus-visible {
    color: #1c3374;
    outline: none;
  }

  &:active::after {
    display: block;
  }

  &:active {
    color: $color-basis;
  }

  &[disabled] {
    color: #f8f9fc;
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active {
    color: #f8f9fc;
  }
}

.promo__big-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    gap: 56px;
    margin-left: 147px;
  }
}

.promo__container {
  display: grid;
  grid-template-columns: auto 156px;
  grid-template-rows: auto auto 46px auto;

  @media (min-width: $tablet) {
    grid-template-columns: 139px 185px;
    grid-template-rows: auto auto 50px auto;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 115px 270px;
    grid-template-rows: auto auto 40px auto;
  }
}

.promo__title-small {
  font-family: $alumni;
  font-size: $font-size-32;
  line-height: 32px;
  font-weight: 600;
  color: $color-additional;
  margin: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: right;

  @media (min-width: $tablet) {
    font-size: $font-size-42;
    line-height: 42px;
  }

  @media (min-width: $desktop) {
    font-size: $font-size-54;
    line-height: 54px;
  }
}

.promo__title {
  font-family: $alumni;
  font-size: $font-size-62;
  line-height: 62px;
  font-weight: 800;
  color: $color-additional;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 0;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: right;
  letter-spacing: 1px;

  @media (min-width: $tablet) {
    margin-top: 10px;
    font-size: $font-size-72;
    line-height: 85px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop) {
    margin-top: 40px;
    font-size: $font-size-92;
    line-height: 110px;
  }
}

.promo__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: left;
  align-self: end;

  @media (min-width: $tablet) {
    grid-row: 1 / 5;
    align-self: center;
  }
}

.promo__text {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 20px;
  font-weight: 400;
  color: $color-additional;
  margin: 0;
  text-align: right;

  @media (min-width: $tablet) {
    line-height: 22px;
  }
}

.promo__link {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  border: 2px solid $color-additional;
  cursor: pointer;
  height: 60px;
  text-decoration: none;
  grid-column: 1 / 3;
  grid-row: 4 / 5;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    height: 56px;
  }

  &:hover,
  &:active {
    background-color: $color-additional;
    border: none;
  }

  &:focus,
  &:focus-visible {
    border: 2px solid #000000;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
  }
}

.promo__link[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.promo__link[disabled]:hover,
.promo__link[disabled]:active,
.promo__link[disabled]:focus,
.promo__link[disabled]:focus-visible {
  background-color: transparent;
  border: 2px solid $color-additional;
}

.promo__text-link {
  display: block;
  text-align: center;
  font-family: $roboto;
  font-size: $font-size-12;
  line-height: 12px;
  font-weight: 700;
  color: $color-additional;
  text-transform: uppercase;
  margin: 0;

  &:focus-visible {
    outline: none;
  }
}

.promo__link:hover .promo__text-link,
.promo__link:focus .promo__text-link,
.promo__link:focus-visible .promo__text-link {
  color: $color-accent;
}

.promo__link:active .promo__text-link {
  color: #102654;
}

.promo__link[disabled] .promo__text-link {
  color: $color-additional;
  opacity: 0.5;
}

.promo__hero-image {
  @media (max-width: $mobile) {
    display: none;
  }
}
