.reviews {
  padding: 41px 0 40px;


  @media (min-width: $tablet) {
    padding: 60px 0;
  }

  @media (min-width: $desktop) {
    padding: 100px 0;
  }
}

.reviews__wrapper {
  width: 240px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 678px;
  }

  @media (min-width: $desktop) {
    width: 1160px;
  }
}

.reviews__title {
  font-family: $alumni;
  font-size: $font-size-32;
  line-height: 32px;
  font-weight: 600;
  color: $color-basis;
  margin: 0 0 39px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: $font-size-54;
    line-height: 54px;
    margin: 0 0 35px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 76px;
  }
}

.reviews__button {
  position: relative;
}

.reviews__slider-button.swiper-button-prev,
.reviews__slider-button.swiper-button-next {
  position: absolute;
  width: 50px;
  height: 50px;
  border: transparent;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  z-index: 10;
  box-sizing: border-box;
  background-color: transparent;
  display: none;
  align-self: center;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 32px;
    mask: url("/__spritemap#sprite-arrow-view");
    background-color: $color-basis;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease-in-out;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid transparent;
    box-sizing: border-box;
    z-index: 0;
    pointer-events: none;
    transition: border-color 0.2s ease-in-out;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:disabled:focus-visible {
    outline: none;
  }

  &:disabled::before {
    background-color: rgba(16, 38, 84, 0.3);
  }

  &:disabled::after {
    border-color: transparent;
  }

  @media (min-width: $tablet) {
    display: block;

    &:not(:disabled):hover::after,
    &:not(:disabled):focus::after,
    &:not(:disabled):focus-visible::after,
    &:not(:disabled):active::after {
      border-color: $color-basis;
    }
  }
}

.reviews__slider-button:not(:disabled):focus,
.reviews__slider-button:not(:disabled):focus-visible {
  outline: none;
  background-color: #e8e8e8;
}

.reviews__slider-button--prev.swiper-button-prev {
  transform: rotate(-180deg);

  @media (min-width: $tablet) {
    left: -17px;
    top: 117px;
  }

  @media (min-width: $desktop) {
    left: 178px;
    top: 126px;
  }
}

.reviews__slider-button--next.swiper-button-next {
  transform: rotate(0deg);

  @media (min-width: $tablet) {
    right: -17px;
    top: 117px;
  }

  @media (min-width: $desktop) {
    right: 178px;
    top: 126px;
  }
}

.reviews__slider-button--prev:not(:disabled):active,
.reviews__slider-button--next:not(:disabled):active {
  background-color: $color-basis;
}

.reviews__slider-button--prev:not(:disabled):active::before,
.reviews__slider-button--next:not(:disabled):active::before {
  background-color: $color-additional;
}

.reviews__swiper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 240px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 500px;
  }

  @media (min-width: $desktop) {
    width: 560px;
  }
}

.reviews__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reviews__item {
  padding: 30px 25px 29px;
  box-sizing: border-box;
  background-color: #1c3374;
  box-shadow: 0 0 40px 0 rgba(28, 51, 116, 0.2);
  width: 240px;
  height: auto;
  gap: 10px;

  @media (min-width: $tablet) {
    width: 500px;
    padding: 40px 30px;
  }

  @media (min-width: $desktop) {
    width: 560px;
    padding: 60px;
  }
}

.reviews__item-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
  }

  @media (min-width: $desktop) {
    gap: 30px;
  }
}

.reviews__image-wrapper {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  @media (min-width: $tablet) {
    width: 80px;
    height: 80px;
  }
}

.reviews__image-wrapper img {
  height: 100%;
  object-fit: cover;
  transform: scale(1.6);
  transform-origin: center center;
  object-position: -1px -13%;
  filter: brightness(1.2);

  @media (min-width: $tablet) {
    object-position: -2px -13%;
  }
}

.reviews__text-wrapper {
  @media (min-width: $tablet) {
    width: 320px;
  }

  @media (min-width: $desktop) {
    width: 330px;
  }
}

.reviews__text-wrapper p:nth-of-type(1) {
  font-family: $roboto;
  font-size: $font-size-18;
  line-height: 20px;
  font-weight: 400;
  color: $color-additional;
  margin: 0 0 17px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: $font-size-22;
    line-height: 22px;
    text-align: left;
    margin: 0 0 20px;
  }
}

.reviews__text-wrapper p:nth-of-type(2) {
  font-family: $roboto;
  font-size: $font-size-14;
  line-height: 22px;
  font-weight: 300;
  color: $color-additional;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet) {
    text-align: left;
    font-size: $font-size-16;
    line-height: 24px;
  }
}
