.tabs__list {
  padding: 0 0 10px;
  margin: 0 0 30px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
  box-sizing: border-box;
  height: 26px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: rgba(120, 120, 120, 0.2);
    top: 24px;
    z-index: 0;
  }

  @media (min-width: $tablet) {
    width: 310px;
    margin: 0 auto 47px;
    padding: 0 0 25px;
    gap: 43px;

    &::after {
      top: 26px;
    }
  }

  @media (min-width: $desktop) {
    width: 350px;
    margin: 0 auto 42px;
    padding: 0 0 28px;
    gap: 51px;

    &::after {
      top: 28px;
    }
  }
}

.tabs__button {
  border: none;
  background-color: transparent;
  font-family: $roboto;
  font-size: $font-size-16;
  line-height: 16px;
  font-weight: 400;
  color: rgba(16, 38, 84, 0.5);
  box-sizing: border-box;
  padding: 0 0 7px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid transparent;
    top: 23px;
    left: 0;
    z-index: 10;
  }

  @media (min-width: $tablet) {
    font-size: $font-size-18;
    line-height: 18px;
    padding-top: 2px;

    &::after {
      top: 26px;
    }
  }

  @media (min-width: $desktop) {
    font-size: $font-size-20;
    line-height: 20px;
    padding-top: 0;

    &::after {
      top: 28px;
    }
  }

  &:hover,
  &:hover::after {
    color: rgba(16, 38, 84, 0.7);
    border-bottom: 1px solid #787878;
  }

  &:focus,
  &:focus-visible {
    color: $color-basis;
    border-bottom: 2px solid $color-basis;
    outline: none;
  }

  // &:active {
  //   color: $color-basis;
  //   border-bottom: 2px solid #d10a42;
  // }

  &:disabled {
    color: $color-basis;
    border-color: $color-basis;
    opacity: 30%;
  }
}

.tabs__button--active {
  color: $color-basis;
  padding-bottom: 7px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #d10a42;
    top: 23px;
    left: 0;
    z-index: 10;
  }

  @media (min-width: $tablet) {
    padding-bottom: 6px;

    &::after {
      top: 26px;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 8px;

    &::after {
      top: 28px;
    }
  }

  &:focus,
  &:focus-visible,
  &:focus::after,
  &:focus-visible::after {
    color: $color-basis;
    border-bottom: 2px solid #d10a42;
    outline: none;
  }
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}
