.tabs__list {
  padding: 0;
  list-style-type: none;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 46px;
  margin: 0 auto 30px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (min-width: $tablet) {
    width: 310px;
    margin-bottom: 45px;
    gap: 20px 43px;
  }

  @media (min-width: $desktop) {
    width: 350px;
    margin-bottom: 40px;
    gap: 20px 51px;
  }
}

.tabs__button {
  position: relative;
  font-family: $roboto;
  font-size: $font-size-16;
  line-height: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-bottom: 7px;
  color: $color-basis;
  cursor: pointer;
  opacity: 0.5;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: transparent;
    top: 23px;
    left: 0;
    z-index: 10;
  }

  @media (min-width: $tablet) {
    padding-bottom: 6px;
    font-size: $font-size-18;

    &::after {
      top: 22px;
    }
  }

  @media (min-width: $desktop) {
    font-size: $font-size-20;
    padding-bottom: 10px;

    &::after {
      top: 26px;
    }
  }

  &:hover {
    color: rgba(16, 38, 84, 0.7);

    &::after {
      background-color: #787878;
    }
  }

  &:focus,
  &:focus-visible {
    color: $color-basis;
    outline: none;
    opacity: 1;

    &::after {
      background-color: $color-basis;
    }
  }

  &:disabled {
    color: $color-basis;
    cursor: not-allowed;
    opacity: 0.3;

    &::after {
      background-color: $color-basis;
      opacity: 0.3;
    }
  }
}

.tabs__button--active {
  color: $color-basis;
  opacity: 1;
  outline: none;

  &::after {
    background-color: #d10a42;
  }
}

.tabs__button--active.tabs__button:focus,
.tabs__button--active.tabs__button:hover {
  color: $color-basis;

  &::after {
    background-color: #d10a42;
  }
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}
