// .tabs__list {
//   padding: 0 0 10px;
//   margin: 0 0 30px;
//   list-style-type: none;
//   display: flex;
//   flex-wrap: wrap;
//   gap: 46px;
//   box-sizing: border-box;
//   height: 26px;
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     height: 2px;
//     width: 100%;
//     background-color: rgba(120, 120, 120, 0.2);
//     top: 24px;
//     z-index: 0;
//   }

// @media (min-width: $tablet) {
//   width: 310px;
//   margin: 0 auto 47px;
//   padding: 0 0 25px;
//   gap: 43px;

//     &::after {
//       top: 26px;
//     }
//   }

//   @media (min-width: $desktop) {
//     width: 350px;
//     margin: 0 auto 42px;
//     padding: 0 0 28px;
//     gap: 51px;

//     &::after {
//       top: 28px;
//     }
//   }
// }

.tabs__list {
  padding: 0;
  list-style-type: none;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 46px;
  margin: 0 auto 30px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (min-width: $tablet) {
    width: 310px;
    margin-bottom: 45px;
    gap: 20px 43px;
  }

  @media (min-width: $desktop) {
    width: 350px;
    margin-bottom: 40px;
    gap: 20px 51px;
  }
}

.tabs__button {
  position: relative;
  font-family: $roboto;
  font-size: $font-size-16;
  line-height: 16px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-bottom: 7px;
  color: $color-basis;
  cursor: pointer;
  opacity: 0.5;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: transparent;
    top: 23px;
    left: 0;
    z-index: 10;
  }

  @media (min-width: $tablet) {
    padding-bottom: 6px;
    font-size: $font-size-18;

    &::after {
      top: 22px;
    }
  }

  @media (min-width: $desktop) {
    font-size: $font-size-20;
    padding-bottom: 10px;

    &::after {
      top: 26px;
    }
  }

  &:hover {
    color: rgba(16, 38, 84, 0.7);

    &::after {
      background-color: #787878;
    }
  }

  &:focus,
  &:focus-visible {
    color: $color-basis;
    outline: none;
    opacity: 1;

    &::after {
      background-color: $color-basis;
    }
  }

  &:disabled {
    color: $color-basis;
    cursor: not-allowed;
    opacity: 0.3;

    &::after {
      background-color: $color-basis;
      opacity: 0.3;
    }
  }
}

.tabs__button--active {
  color: $color-basis;
  opacity: 1;
  outline: none;

  &::after {
    background-color: #ed0233;
  }
}

.tabs__button--active.tabs__button:focus,
.tabs__button--active.tabs__button:hover {
  color: $color-basis;

  &::after {
    background-color: #ed0233;
  }
}


// .tabs__button {
//   border: none;
//   background-color: transparent;
//   font-family: $roboto;
//   font-size: $font-size-16;
//   line-height: 16px;
//   font-weight: 400;
//   color: rgba(16, 38, 84, 0.5);
//   box-sizing: border-box;
//   padding: 0 0 7px;
//   position: relative;

// &::after {
//   content: "";
//   position: absolute;
//   width: 100%;
//   border-bottom: 2px solid transparent;
//   top: 23px;
//   left: 0;
//   z-index: 10;
// }

//   @media (min-width: $tablet) {
//     font-size: $font-size-18;
//     line-height: 18px;
//     padding-top: 2px;

//     &::after {
//       top: 26px;
//     }
//   }

//   @media (min-width: $desktop) {
//     font-size: $font-size-20;
//     line-height: 20px;
//     padding-top: 0;

//     &::after {
//       top: 28px;
//     }
//   }

//   &:hover,
//   &:hover::after {
//     color: rgba(16, 38, 84, 0.7);
//     border-bottom: 1px solid #787878;
//   }

//   &:focus,
//   &:focus-visible {
//     color: $color-basis;
//     border-bottom: 2px solid $color-basis;
//     outline: none;
//   }

//   // &:active {
//   //   color: $color-basis;
//   //   border-bottom: 2px solid #d10a42;
//   // }

//   &:disabled {
//     color: $color-basis;
//     border-color: $color-basis;
//     opacity: 30%;
//   }
// }

// .tabs__button--active {
//   color: $color-basis;
//   padding-bottom: 7px;
//   position: relative;

//   &::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     border-bottom: 2px solid #d10a42;
//     top: 23px;
//     left: 0;
//     z-index: 10;
//   }

//   @media (min-width: $tablet) {
//     padding-bottom: 6px;

//     &::after {
//       top: 26px;
//     }
//   }

//   @media (min-width: $desktop) {
//     padding-bottom: 8px;

//     &::after {
//       top: 28px;
//     }
//   }

// &:focus,
// &:focus-visible,
// &:focus::after,
// &:focus-visible::after {
//   color: $color-basis;
//   border-bottom: 2px solid #d10a42;
//   outline: none;
// }
// }

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}
