.video__image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  @media (min-width: $tablet) {
    width: 270px;
    height: 170px;
  }

  @media (min-width: $desktop) {
    width: 360px;
    height: 230px;
  }
}

.video__play-button {
  /* 1. Основные стили (позиционирование, размеры, форма) */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: linear-gradient(to right, #ed0233, #003eb7);
  transition: transform 0.2s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #ed0233;
    opacity: 0.2;
    outline: 10px solid transparent;
    outline-offset: -10px;
    pointer-events: none;
    z-index: -1;
    box-sizing: border-box;
    transition: opacity 0.2s ease, border-color 0.2s ease; /* Добавим transition для плавности */
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 11px;
    background-color: $color-additional;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    pointer-events: none; /* Чтобы не мешал кликам */
    // transition: background-color 0.2s ease; /* Добавим transition для плавности */
  }


  &:hover {
    background: $color-additional;
  }

  &:focus {
    background: #c8c9cc;
  }

  &:active {
    background: $color-additional;
  }

  &:disabled {
    background: $color-additional;
  }

  &:hover::before {
    opacity: 1;
    border: 2px solid rgba(16, 38, 84, 0.6);
  }

  &:focus::before,
  &:active::before {
    opacity: 1;
    border: 2px solid rgba(16, 38, 84, 1);
  }

  &:disabled::before {
    opacity: 1;
    border: 2px solid #9ba5b9;
  }

  &:hover::after {
    background-color: rgba(16, 38, 84, 0.6);
  }

  &:focus::after,
  &:active::after {
    background-color: rgba(16, 38, 84, 1);
  }

  &:disabled::after {
    background-color: #9ba5b9;
  }

  @media (min-width: $tablet) {
    &::after {
      width: 9px;
      height: 12px;
      left: 52%;
    }
  }

  @media (min-width: $desktop) {
    width: 72px;
    height: 72px;

    &:active {
      width: 58px;
      height: 58px;
    }

    &::before {
      width: 100px;
      height: 100px;
    }

    &::after {
      width: 13px;
      height: 15px;
      left: 53%;
    }
  }
}

