.video__container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 соотношение сторон (height / width * 100) */
  height: 0;
  overflow: hidden;
}

.video__iframe {
  object-fit: cover;
  border: none;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media (min-width: $desktop) {
    left: 1px;
  }
}

.video__image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  object-fit: cover;
  z-index: 10;


  @media (min-width: $desktop) {
    left: 1px;
  }
}

.video__play-button {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: linear-gradient(97deg, rgba(237, 2, 51, 1) 17%, rgba(119, 32, 117, 1) 54%, rgba(0, 62, 183, 1) 90%);
  transition: transform 0.2s ease-in-out;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid #ed0233;
    opacity: 0.2;
    outline: 10px solid transparent;
    outline-offset: -10px;
    pointer-events: none;
    z-index: -1;
    box-sizing: border-box;
    transition: opacity 0.2s ease, border-color 0.2s ease;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 11px;
    background-color: $color-additional;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    pointer-events: none;
  }


  &:hover {
    background: $color-additional;
  }

  &:focus,
  &:focus-visible {
    background: #c8c9cc;
  }

  &:active {
    background: $color-additional;
  }

  &:disabled {
    background: $color-additional;
    cursor: not-allowed;
  }

  &:hover::before {
    opacity: 1;
    border: 2px solid rgba(16, 38, 84, 0.6);
  }

  &:focus::before,
  &:focus-visible::before,
  &:active::before {
    opacity: 1;
    border: 2px solid $color-basis;
  }

  &:disabled::before {
    border: 2px solid $color-basis;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.4;
  }

  &:hover::after {
    background-color: rgba(16, 38, 84, 0.6);
  }

  &:focus::after,
  &:focus-visible::after,
  &:active::after {
    background-color: $color-basis;
  }

  &:disabled::after {
    background-color: $color-basis;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    opacity: 0.4;
  }

  @media (min-width: $tablet) {
    top: 50%;

    &::after {
      width: 9px;
      height: 12px;
      left: 52%;
    }
  }

  @media (min-width: $desktop) {
    width: 72px;
    height: 72px;

    &:active {
      width: 58px;
      height: 58px;
    }

    &::before {
      width: 100px;
      height: 100px;
    }

    &::after {
      width: 13px;
      height: 15px;
      left: 53%;
    }
  }
}

