// Vendor
// @import "vendor/normalize";

/* GLOBAL */
@import "./common/variables";
@import "./common/mixins";
@import "./common/fonts";
@import "./common/global";
@import "./common/visually-hidden";
@import "./common/container";

/* BLOCKS */
@import "./blocks/button";
@import "./blocks/page-body";
@import "./blocks/promo";
@import "./blocks/about";
@import "./blocks/video";
@import "./blocks/price";
@import "./blocks/tabs";
@import "./blocks/content";
@import "./blocks/games";

