/* GLOBAL */
@import "./common/variables";
@import "./common/mixins";
@import "./common/fonts";
@import "./common/global";
@import "./common/visually-hidden";
@import "./common/container";

/* BLOCKS */
@import "./blocks/button";
@import "./blocks/page-body";
@import "./blocks/promo";
@import "./blocks/about";
@import "./blocks/video";
@import "./blocks/price";
@import "./blocks/tabs";
@import "./blocks/content";
@import "./blocks/games";
@import "./blocks/juri";
@import "./blocks/swiper";
@import "./blocks/info";
@import "./blocks/features";
@import "./blocks/offers";
@import "./blocks/faq";
@import "./blocks/faq-tab";
@import "./blocks/accordion";
@import "./blocks/reviews";
@import "./blocks/form";
@import "./blocks/form-request";
@import "./blocks/contacts";
@import "./blocks/main-footer";
@import "./blocks/navigation";
@import "./blocks/social";

/* Vendor */
@import "./vendor/normalize";
